@import '../../../../public/static/assets/styles/abstracts/variables';
@import '../../../../public/static/assets/styles/base/breakpoints';

.card {
  width: 100%;
  height: 711px;
  cursor: pointer;

  &Header {
    width: 100%;
    height: 436px;
    position: relative;
    margin-bottom: 30px;
  }

  &HeaderFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 14px;
  }
  &Genres {
    display: flex;
    flex-wrap: wrap;

    & > button:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  &Image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  &Icon {
    width: 41px;
    height: 41px;
    background-color: $neutral-4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &Info {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    img {
      margin-right: 20px;
    }
    span {
      font-weight: 600;
      font-size: 18px;
    }
  }

  &Year {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
  &Title {
    font-weight: 600;
    font-size: 42px;
    text-overflow: ellipsis;

    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
  }
  &Description {
    line-height: 30px;
    color: $neutral-1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
