@font-face {
  font-family: 'biletsepeti';
  src: url('fonts/biletsepeti.eot?n8vkns') format('woff2');
  src: url('fonts/biletsepeti.eot?n8vkns#iefix') format('embedded-opentype'),
    url('fonts/biletsepeti.ttf?n8vkns') format('truetype'),
    url('fonts/biletsepeti.woff?n8vkns') format('woff'),
    url('fonts/biletsepeti.svg?n8vkns#biletsepeti') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.bs {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'biletsepeti' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bs-icon-0001:before {
  content: '\e95d';
  color: #a3a4a5;
}
.bs-path12:before {
  content: '\e929';
  color: #c70a0c;
}
.bs-country0001:before {
  content: '\e96b';
  color: #a3a4a5;
}
.bs-country0002:before {
  content: '\e96c';
  color: #a3a4a5;
}
.bs-country0003:before {
  content: '\e96d';
  color: #a3a4a5;
}
.bs-country0004:before {
  content: '\e96e';
  color: #a3a4a5;
}
.bs-country0005:before {
  content: '\e96f';
  color: #a3a4a5;
}
.bs-country0006:before {
  content: '\e970';
  color: #a3a4a5;
}
.bs-kitchen:before {
  content: '\e95c';
}
.bs-luggage:before {
  content: '\e959';
  color: #747678;
}
.bs-pen:before {
  content: '\e95a';
}
.bs-statistic:before {
  content: '\e95b';
}
.bs-filter:before {
  content: '\e961';
  color: #148265;
}
.bs-turkey .path1:before {
  content: '\e955';
  color: rgb(216, 0, 39);
}
.bs-turkey .path2:before {
  content: '\e956';
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.bs-turkey .path3:before {
  content: '\e957';
  margin-left: -1em;
  color: rgb(240, 240, 240);
}
.bs-bus:before {
  content: '\e94e';
  color: #747678;
}
.bs-transfer-unchecked:before {
  content: '\e94f';
  color: #747678;
}
.bs-transfer-checked .path1:before {
  content: '\e950';
  color: rgb(0, 130, 101);
}
.bs-transfer-checked .path2:before {
  content: '\e951';
  margin-left: -0.8154296875em;
  color: rgb(0, 0, 0);
}
.bs-transfer-checked .path3:before {
  content: '\e952';
  margin-left: -0.8154296875em;
  color: rgb(0, 0, 0);
}
.bs-transfer-checked .path4:before {
  content: '\e953';
  margin-left: -0.8154296875em;
  color: rgb(0, 0, 0);
}
.bs-transfer-checked .path5:before {
  content: '\e954';
  margin-left: -0.8154296875em;
  color: rgb(255, 255, 255);
}
.bs-home-bus:before {
  content: '\e94d';
}
.bs-home-car:before {
  content: '\e94a';
}
.bs-home-activity:before {
  content: '\e94b';
}
.bs-home-hotel:before {
  content: '\e94c';
}
.bs-home-flight-ticket:before {
  content: '\e949';
}
.bs-chevron-left:before {
  content: '\e947';
}
.bs-chevron-right:before {
  content: '\e948';
}
.bs-lrlinkedin:before {
  content: '\e93d';
  color: #1e76b8;
}
.bs-search:before {
  content: '\e93e';
  color: #747678;
}
.bs-lrtwitter:before {
  content: '\e93f';
  color: #03a9f4;
}
.bs-check:before {
  content: '\e940';
}
.bs-lrfacebook:before {
  content: '\e941';
  color: #465893;
}
.bs-lrgoogle .path1:before {
  content: '\e942';
  color: rgb(251, 187, 0);
}
.bs-lrgoogle .path2:before {
  content: '\e943';
  margin-left: -1em;
  color: rgb(81, 142, 248);
}
.bs-lrgoogle .path3:before {
  content: '\e944';
  margin-left: -1em;
  color: rgb(40, 180, 70);
}
.bs-lrgoogle .path4:before {
  content: '\e945';
  margin-left: -1em;
  color: rgb(241, 67, 54);
}
.bs-times:before {
  content: '\e93b';
}
.bs-chevron-down-o:before {
  content: '\e93c';
}
.bs-instagram:before {
  content: '\e937';
  color: #747678;
}
.bs-linkedin-letters:before {
  content: '\e938';
  color: #747678;
}
.bs-twitter:before {
  content: '\e939';
  color: #747678;
}
.bs-facebook:before {
  content: '\e93a';
}
.bs-iata:before {
  content: '\e900';
}
.bs-lock .path1:before {
  content: '\e901';
  color: rgb(0, 0, 0);
}
.bs-lock .path2:before {
  content: '\e902';
  margin-left: -0.7666015625em;
  color: rgb(0, 0, 0);
}
.bs-lock .path3:before {
  content: '\e903';
  margin-left: -0.7666015625em;
  color: rgb(220, 219, 219);
}
.bs-plane .path1:before {
  content: '\e904';
  color: rgb(219, 219, 219);
}
.bs-plane .path2:before {
  content: '\e905';
  margin-left: -1.033203125em;
  color: rgb(219, 219, 219);
}
.bs-plane .path3:before {
  content: '\e906';
  margin-left: -1.033203125em;
  color: rgb(219, 219, 219);
}
.bs-plane .path4:before {
  content: '\e907';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-plane .path5:before {
  content: '\e908';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-plane .path6:before {
  content: '\e909';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-plane .path7:before {
  content: '\e90a';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-plane .path8:before {
  content: '\e90b';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-plane .path9:before {
  content: '\e90c';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-plane .path10:before {
  content: '\e90d';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-plane .path11:before {
  content: '\e90e';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-plane .path12:before {
  content: '\e90f';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-plane .path13:before {
  content: '\e910';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-plane .path14:before {
  content: '\e911';
  margin-left: -1.033203125em;
  color: rgb(0, 0, 0);
}
.bs-ring .path1:before {
  content: '\e912';
  color: rgb(220, 219, 219);
}
.bs-ring .path2:before {
  content: '\e913';
  margin-left: -1.0498046875em;
  color: rgb(220, 219, 219);
}
.bs-ring .path3:before {
  content: '\e914';
  margin-left: -1.0498046875em;
  color: rgb(0, 0, 0);
}
.bs-ring .path4:before {
  content: '\e915';
  margin-left: -1.0498046875em;
  color: rgb(220, 219, 219);
}
.bs-ticket .path1:before {
  content: '\e916';
  color: rgb(219, 219, 219);
}
.bs-ticket .path2:before {
  content: '\e917';
  margin-left: -1.224609375em;
  color: rgb(0, 0, 0);
}
.bs-ticket .path3:before {
  content: '\e918';
  margin-left: -1.224609375em;
  color: rgb(0, 0, 0);
}
.bs-ticket .path4:before {
  content: '\e919';
  margin-left: -1.224609375em;
  color: rgb(255, 255, 255);
}
.bs-ticket .path5:before {
  content: '\e91a';
  margin-left: -1.224609375em;
  color: rgb(255, 255, 255);
}
.bs-ticket .path6:before {
  content: '\e91b';
  margin-left: -1.224609375em;
  color: rgb(255, 255, 255);
}
.bs-ticket .path7:before {
  content: '\e91c';
  margin-left: -1.224609375em;
  color: rgb(38, 41, 44);
}
.bs-ticket .path8:before {
  content: '\e91d';
  margin-left: -1.224609375em;
  color: rgb(38, 41, 44);
}
.bs-ticket .path9:before {
  content: '\e91e';
  margin-left: -1.224609375em;
  color: rgb(38, 41, 44);
}
.bs-ticket .path10:before {
  content: '\e91f';
  margin-left: -1.224609375em;
  color: rgb(38, 41, 44);
}
.bs-ticket .path11:before {
  content: '\e920';
  margin-left: -1.224609375em;
  color: rgb(38, 41, 44);
}
.bs-ticket .path12:before {
  content: '\e921';
  margin-left: -1.224609375em;
  color: rgb(38, 41, 44);
}
.bs-ticket .path13:before {
  content: '\e922';
  margin-left: -1.224609375em;
  color: rgb(38, 41, 44);
}
.bs-ticket .path14:before {
  content: '\e923';
  margin-left: -1.224609375em;
  color: rgb(0, 0, 0);
}
.bs-ticket .path15:before {
  content: '\e924';
  margin-left: -1.224609375em;
  color: rgb(0, 0, 0);
}
.bs-ticket .path16:before {
  content: '\e925';
  margin-left: -1.224609375em;
  color: rgb(0, 0, 0);
}
.bs-ticket .path17:before {
  content: '\e926';
  margin-left: -1.224609375em;
  color: rgb(0, 0, 0);
}
.bs-ticket .path18:before {
  content: '\e927';
  margin-left: -1.224609375em;
  color: rgb(0, 0, 0);
}
.bs-ticket .path19:before {
  content: '\e928';
  margin-left: -1.224609375em;
  color: rgb(38, 41, 44);
}
.bs-ticket_black .path1:before {
  content: '\e92a';
  color: rgb(220, 219, 219);
}
.bs-ticket_black .path2:before {
  content: '\e92b';
  margin-left: -1em;
  color: none;
}
.bs-ticket_black .path3:before {
  content: '\e958';
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.bs-tursab:before {
  content: '\e92c';
}
.bs-arrows .path1:before {
  content: '\e92d';
  color: rgb(0, 0, 0);
}
.bs-arrows .path2:before {
  content: '\e92e';
  margin-left: -1.142578125em;
  color: rgb(220, 219, 219);
}
.bs-arrows .path3:before {
  content: '\e92f';
  margin-left: -1.142578125em;
  color: rgb(220, 219, 219);
}
.bs-asistant:before {
  content: '\e930';
}
.bs-sub-branch:before {
  content: '\e931';
}
.bs-exchange:before {
  content: '\e932';
}
.bs-notification-bell:before {
  content: '\e933';
}
.bs-logo:before {
  content: '\e934';
}
.bs-chevron-up:before {
  content: '\e935';
}
.bs-chevron-down:before {
  content: '\e946';
}
.bs-left-menu:before {
  content: '\e936';
}
