@import '../../../public/static/assets/styles/abstracts/variables';

.search {
  width: 443px;
  height: 68px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: $neutral-5;
}
.input {
  min-width: calc(100% - 40px);
  border: none;
  outline: none;
  background-color: transparent;
  color: $neutral-1;

  &::placeholder {
    font-size: 18px;
  }
}
.logo {
  height: 24px;
}
